@{
    ViewData["Title"] = "Home Page";
}
@model HomeVM
<main>
    <section id="section1">
        <div class="container pb10 pt10">
            <h1 class="text-white mt-5 fs-2 fw-bold">WELCOME TO DAY</h1>
            <p class="text-white mt-5 fs-3 w-50">
                We are team of talented designers making websites with Bootstrap
            </p>
            <button class="btn btn-outline-danger text-white border-white">GET STARTED</button>
        </div>
    </section>


    <section id="section2" class="container pt-5">
        <div class="row">
            <div class="col-lg-6">
                <p class="fw-bold">Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
                <p class="text-black-50">
                    <i class="bi bi-check-circle text-dark mt-1"></i> Ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
                <p class="text-black-50">
                    <i class="bi bi-check-circle text-dark"></i> Ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
                <p class="text-black-50">
                    <i class="bi bi-check-circle text-dark"></i> Ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>

                <p class="text-black-50 mt-2">
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/assets/img/about.jpg" class="w-100 h-100" alt="">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="card  hovercard shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title fw-bolder text-danger">01</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card hovercard shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title fw-bolder text-danger">02</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card hovercard shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <h5 class="card-title fw-bolder text-danger">03</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section3" class="bg-info">
        <div class="d-flex justify-content-evenly container flex-wrap pt-3 pb-3">
            <img src="~/assets/img/client-1.png" style="width: 15vh; height: 10vh;" alt="">
            <img src="~/assets/img/client-2.png" style="width: 15vh; height: 10vh;" alt="">
            <img src="~/assets/img/client-3.png" style="width: 15vh; height: 10vh;" alt="">
            <img src="~/assets/img/client-4.png" style="width: 15vh; height: 10vh;" alt="">
            <img src="~/assets/img/client-5.png" style="width: 15vh; height: 10vh;" alt="">
            <img src="~/assets/img/client-6.png" style="width: 15vh; height: 10vh;" alt="">
        </div>
    </section>

    <section id="section4" class="container mt-5">
        <p class="text-center fs-2 fw-semibold">SERVICES</p>
        <p class="text-center">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card hovercard shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="card-title text-danger border border-2 bg-danger ">
                                <i class="bi bi-globe p-2 text-white "></i>
                            </span>
                        </div>
                        <p class="card-text text-center">
                            Title
                        </p>
                        <p class="card-text text-center">
                            With supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card hovercard shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="card-title text-danger border border-2 bg-danger ">
                                <i class="bi bi-globe p-2 text-white "></i>
                            </span>
                        </div>
                        <p class="card-text text-center">
                            Title
                        </p>
                        <p class="card-text text-center">
                            With supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card hovercard shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="card-title text-danger border border-2 bg-danger ">
                                <i class="bi bi-globe p-2 text-white "></i>
                            </span>
                        </div>
                        <p class="card-text text-center">
                            Title
                        </p>
                        <p class="card-text text-center">
                            With supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card hovercard shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="card-title text-danger border border-2 bg-danger ">
                                <i class="bi bi-globe p-2 text-white "></i>
                            </span>
                        </div>
                        <p class="card-text text-center">
                            Title
                        </p>
                        <p class="card-text text-center">
                            With supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card hovercard shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="card-title text-danger border border-2 bg-danger ">
                                <i class="bi bi-globe p-2 text-white "></i>
                            </span>
                        </div>
                        <p class="card-text text-center">
                            Title
                        </p>
                        <p class="card-text text-center">
                            With supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card hovercard shadow p-3 mb-5 bg-body rounded">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <span class="card-title text-danger border border-2 bg-danger ">
                                <i class="bi bi-globe p-2 text-white "></i>
                            </span>
                        </div>
                        <p class="card-text text-center">
                            Title
                        </p>
                        <p class="card-text text-center">
                            With supporting text below as a natural lead-in to
                            additional content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="section5" class="pt-5 pb-5">
        <div class="container">
            <p class="fw-semibold fs-3 text-center text-white">Call To Action</p>
            <p class="text-white text-center">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.
            </p>
            <div class="d-flex justify-content-center">

                <button class="btn btn-outline-danger text-white border-white">Call To Action</button>
            </div>
        </div>
    </section>

    <section class="container mt-5">
        <p class="fw-semibold fs-3 text-center">PORTFOLIO</p>
        <p class="text-center">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>

        <div class="d-flex justify-content-center gap-3 categoryies">
            @foreach (var item in Model.Categories)
            {
                <p data-target="@item.Id" class="category fw-bolder">@item.Name</p>
            }
        </div>
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <div class="d-none col-lg-4 mt-5 product" data-id="@item.CategoryId">
                    <div class="overlaycontainer">
                        <img src="~/assets/img/product/@item.Img" alt="Avatar" class="overlayimage">
                        <div class="row overlay">
                            <div class="col">
                                <p>@item.Title</p>
                                <p>@item.Title2</p>
                            </div>
                            <div class="col align-items-center d-flex">
                                <p>
                                    <a class="text-decoration-none text-dark fs-3" href="">+</a>
                                    <a class="text-decoration-none text-dark ms-3 fs-3" href="">
                                        <i class="bi bi-arrow-repeat"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

    <section class="container mt-5">
        <p class="fs-3 fw-semibold text-center">PRICING</p>
        <p class="text-center">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>

        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title text-center">FREE</h5>
                        <h6 class="card-subtitle mb-2  text-center">
                            $19 <sub class="text-muted text-white">/month</sub>
                        </h6>
                        <p class="card-text text-center">Aida dere</p>
                        <p class="card-text text-center">Aida dere</p>
                        <p class="card-text text-center">Aida dere</p>
                        <p class="card-text text-center">Aida dere</p>
                        <p class="card-text text-center">Aida dere</p>
                        <div class="d-flex justify-content-center pb-3">
                            <button class="btn btn-danger">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-danger">
                    <div class="card-body">
                        <h5 class="card-title text-center text-white">FREE</h5>
                        <h6 class="card-subtitle mb-2 text-white text-center">
                            $19 <sub class="text-white-50">/month</sub>
                        </h6>
                        <p class="card-text text-center text-white">Aida dere</p>
                        <p class="card-text text-center text-white">Aida dere</p>
                        <p class="card-text text-center text-white">Aida dere</p>
                        <p class="card-text text-center text-white">Aida dere</p>
                        <p class="card-text text-center text-white">Aida dere</p>
                        <div class="d-flex justify-content-center pb-3">
                            <button class="btn btn-warning">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title text-center">FREE</h5>
                        <h6 class="card-subtitle mb-2  text-center">$19 <sub class="text-muted">/month</sub> </h6>
                        <p class="card-text text-center">Aida dere</p>
                        <p class="card-text text-center">Aida dere</p>
                        <p class="card-text text-center">Aida dere</p>
                        <p class="card-text text-center">Aida dere</p>
                        <p class="card-text text-center">Aida dere</p>
                        <div class="d-flex justify-content-center pb-3">
                            <button class="btn btn-danger">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container mt-5 mb-5 fw-bold">
        <p class="fs-3 text-center">TEAM</p>
        <p class="text-center">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>

        <div class="row">
            <div class="col-lg-4 ">
                <div class="card shadow p-3 mb-5 bg-body">
                    <div class="d-flex justify-content-center">
                        <img src="~/assets/img/team-1.jpg" class="card-img-top w-50 rounded-circle" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text fs-5 text-center">Walter White</p>
                        <p class="card-text text-center">Walter White</p>
                        <p class="card-text text-center text-muted">
                            Magni qui quod omnis unde et eos fuga et
                            exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                        </p>
                        <div class="d-flex justify-content-center gap-3">
                            <a href=""><i class="bi fs-3 bi-facebook"></i></a>
                            <a href=""><i class="bi fs-3 bi-facebook"></i></a>
                            <a href=""><i class="bi fs-3 bi-facebook"></i></a>
                            <a href=""><i class="bi fs-3 bi-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 ">
                <div class="card shadow p-3 mb-5 bg-body">
                    <div class="d-flex justify-content-center">

                        <img src="~/assets/img/team-1.jpg" class="card-img-top w-50 rounded-circle" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text fs-5 text-center">Walter White</p>
                        <p class="card-text text-center">Walter White</p>
                        <p class="card-text text-center text-muted">
                            Magni qui quod omnis unde et eos fuga et
                            exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                        </p>
                        <div class="d-flex justify-content-center gap-3">
                            <a href=""><i class="bi fs-3 bi-facebook"></i></a>
                            <a href=""><i class="bi fs-3 bi-facebook"></i></a>
                            <a href=""><i class="bi fs-3 bi-facebook"></i></a>
                            <a href=""><i class="bi fs-3 bi-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="card shadow p-3 mb-5 bg-body">
                    <div class="d-flex justify-content-center">

                        <img src="~/assets/img/team-1.jpg" class="card-img-top w-50 rounded-circle" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text fs-5 text-center">Walter White</p>
                        <p class="card-text text-center">Walter White</p>
                        <p class="card-text text-center text-muted">
                            Magni qui quod omnis unde et eos fuga et
                            exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                        </p>
                        <div class="d-flex justify-content-center gap-3">
                            <a href=""><i class="bi fs-3 bi-facebook"></i></a>
                            <a href=""><i class="bi fs-3 bi-facebook"></i></a>
                            <a href=""><i class="bi fs-3 bi-facebook"></i></a>
                            <a href=""><i class="bi fs-3 bi-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="container mt-5 mb-5">
        <p class="text-center fs-2 fw-bolder">CONTACT</p>
        <p class="text-center">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        <div class="row">
            <div class="col-lg-6">
                <div class=" shadow p-3 mb-5 bg-body ">
                    <p class="text-center">Our Address</p>
                    <p class="text-center">A108 Adam Street, New York, NY 535022</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="shadow p-3 mb-5 bg-body">
                            <div class="d-flex justify-content-center">
                                <i class="bi bi-at fs-3"></i>
                            </div>
                            <p class="text-center">Email Us</p>
                            <p class="text-center">contact@example.com</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="shadow p-3 mb-5 bg-body">
                            <div class="d-flex justify-content-center">
                                <i class="bi bi-phone fs-3"></i>
                            </div>
                            <p class="text-center">Call Us</p>
                            <p class="text-center">+1 5589 55488 55</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 shadow p-3 mb-5 bg-body">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5245.597200479761!2d-51.640936800615954!3d70.81093104135094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ef3f0e11087b53f%3A0xa97a09ec35419abc!2sSaattut%2C%20Greenland!5e0!3m2!1sen!2s!4v1655455309775!5m2!1sen!2s"
                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-lg-6 container shadow p-3 mb-5 bg-body">
                    <div class="row">
                        <div class="col ">
                            <input class="form-control" type="text" placeholder="Name">
                        </div>
                        <div class="col ">
                            <input class="form-control" type="text" placeholder="Email">
                        </div>


                        <div class=" mt-4">
                            <input class="form-control" type="text" placeholder="Subject">
                        </div>
                        <div class=" mt-4">
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>